.sideLink:hover{
    background-color: #0D6EFD !important;
}


@media (max-width: 576px) {
    .sideWrap{
        width: 100px !important;
        .t{
            display: none;
        }
    }
    
    .content{
        padding-left: 20;
    }
}